<suite name="CloudBees Suite">
    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.RetryTransformer"/>
    </listeners>

    <test name="CloudBees Tests">
        <classes>
            <class name="tests.CloudBeesTest"/>
        </classes>
    </test>
</suite>
